<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SpongeCity.EvaluationPlatform.DBAccess.Interface.IArea">
    <resultMap id="diAreaMap" type="DB_DiArea">
        <id property="id" column="id"/>
        <result property="mid" column="mid"/>
        <result property="tid" column="tid"/>
        <result property="name" column="name"/>
        <result property="datastatus" column="datastatus"/>
        <result property="parentId" column="parent"/>
    </resultMap>
    <select id="getAreaListByMeasureId" parameterType="int" resultMap="diAreaMap">
        select a.id,a.mid,a.tid,a.name,a.datastatus,t.parent from di_area a join taxonomy_term_hierarchy t on a.tid = t.tid
        where a.mid = #{measureId} and a.datastatus = 1
    </select>
</mapper>