<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SpongeCity.EvaluationPlatform.DBAccess.Interface.IArea">
    <resultMap id="" type="">

    </resultMap>
    <insert id="savedata" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into rainwater_utilization
        (tid, samplingtime, municipal_consumption, rainwater_collection_consumption, rainwater_utilization)
        values
        <foreach collection="list" item="data" index="index" separator=",">
            (
            #{data.tid},
            #{data.samplingtime},
            #{data.municipal_consumption},
            #{data.rainwater_collection_consumption},
            #{data.rainwater_utilization}
            )
        </foreach>
    </insert>
</mapper>